/* imported google font for use across the whole styling */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    font-family: 'Secular One', sans-serif;
    margin: 5px;
}

a {
    text-decoration: none;
    color: coral;
}

/* using a text-shadow styling throughout the page including a hover for aesthetic purposes */
a:hover {
    text-shadow: -5px -5px black,
    -5px -5px black;
}

.nav-top {
    text-align: center;
    padding-top: 10px;
    border-bottom: solid;
    border-color: black;
    padding-bottom: 15px;
}

/* header container set to flex for it's contents within */
header {
    display: flex;
    margin-top: 50px;
}

h1 {
    font-size: 100px;
    margin-left: 100px;
    margin-top: 75px;
    flex-wrap: wrap;
    text-shadow: -5px -5px coral,
    -5px -5px coral;
}

h1:hover {
    text-shadow: 5px 5px coral,
    5px 5px coral;
}

.hero {
    max-width: 300px;
    max-height: 300px;
    float: right;
}

#main-title-link {
    color: black;
}

#main-title-link:hover {
    text-shadow: 5px 5px plum,
    5px 5px plum;   
}

#project-two {
    color: black;   
}

#project-two:hover {
    text-shadow: 5px 5px plum,
    5px 5px plum;   
}

#project-three {
    color: black;   
}

#project-three:hover {
    text-shadow: 5px 5px plum,
    5px 5px plum;   
}

#project-four {
    color: black;   
}

#project-four:hover {
    text-shadow: 5px 5px plum,
    5px 5px plum;   
}


/* consistent styling to all h2 elements */
h2 {
    margin-left: 150px;
    padding: 20px;
    text-shadow: -5px -5px plum,
    -5px -5px plum;
    padding-top: 50px;
}

h2:hover {
    text-shadow: 5px 5px plum,
    5px 5px plum;
}

/* using border styles to make a shadow */
.about {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    border-bottom: 5px solid;
    border-left: 5px solid;
    border-style: solid;
    border-color: black;
    padding: 20px;
}

/* flex settings for the container where the project box sections are children */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* id used to make the first project box larger than the others */
#project-box-1 {
    flex: 4 0 80%;
}

/* id used again to make this box have the correctly placed subheading element */
#project-box-1 .subheadings {
    right: 850px;
}

/* project box styling to make each of the sections consistent */
/* a background image was originally used to fill the space and it may be something I use in the future so it is left in the code but commented out */
.project-box {
    display: flex;
    border-style: solid;
    border-width: 5px;
    justify-content: center;
    flex: 1 0 20%;
    padding: 5px;
    z-index: 0;
    position: relative;
    /* background-image: url("https://picsum.photos/200/"); */
}

.project-box:hover {
    border-color: plum;
}

.portfolio-img-minor {
    width: 150px;
    height: 300px;
    margin-top: 75px;
 } 

 .portfolio-img-pass {
     width: 200px;
     height: auto;
     margin-top: 100px;
 }

 .portfolio-img-plan {
     width: 200px;
     height: auto;
     margin-top: 100px;
 }

/* styling for each subheading placed over the image in the project boxes using absolute positioning to make it appear over the images */
.subheadings {
    background-color: coral;
    height: 65px;
    width: 270px;
    z-index: 1;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    opacity: 90%;
}

/* footer flex settings */
footer {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    padding-bottom: 15px;
}

/* id for the contact h2 element which needed to be alligned differently to the other h2 tags */
#contact-title {
    text-align: center;
    margin-right: 160px;
    margin-bottom: -10px;
}


/* the larger screens to make the h1 and hero more central */
@media screen and (min-width: 1400px) {
    h1 {
        padding-left: 150px;
    }
    
    .hero {
        margin-left: 300px;
    }
}


/* settings and styles for smaller viewports */
@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2px;
    }

    .nav-top {
        align-self: center;
        margin-left: -25px;
        margin-bottom: 0px;
        border-style: none;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20%;
        margin-top: -20px;
    }

    h1 {
        font-size: 40px;
        margin-left: auto;
    }

    .hero {
        max-width: 200px;
    }

    h2 {
        margin-left: 175px;
    }

    #project-title  {
        margin-left: 165px;
    }

    #project-box-1 img {
        width: 100%;
        height: auto;
    }

    #project-box-1 .subheadings {
        right: 0px;
        top: 105px;
    }

    .projects .project-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .project-box:hover {
        border-color: plum;
    }

    .subheadings {
        top: 160px;
        width: 50%;
        font-size: 12px;
    }

    #contact-title {
        margin-left: 160px;
    }

}